

    
    
body
    padding: 0
    margin: 0


.zaglushka
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.7)
    z-index: 0

%packet
    color: #333
    font-family: 'Ubuntu', sans-serif
    font-size: 24px
    line-height: 35px
    text-align: center
    padding: 20px

$transition: all 0.5s ease

$vk: #4d7198

.zagolovok
    font-size: 70px
    text-align: right
    opacity: 0
    transition: $transition
    color: #ffffff
    transform: translateX(0)
    font-family: 'Lobster', cursive

.zagolovok-show
    opacity: 1
    transform: translateX(280px)

.container
    width: 1140px
    margin: 0 auto
    
    

.about
    background: url("../img/about-fon.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative

    .container
        
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: center

        .zagolovok
            margin: 50px 0

        .img-logo
            width: 300px
            height: 300px
            z-index: 1
            border-radius: 50%
            overflow: hidden
            transition: $transition 0.3s
            opacity: 0
            transform: translateY(100px)


            img
                width: 100%
                height: 100%
                object-fit: cover

        .img-logo-show
            opacity: 1
            transform: translateY(0px)

        .obo-mne
            font-family: 'Ubuntu', sans-serif
            font-size: 25px
            color: #ffffff
            z-index: 1
            transition: $transition 0.6s
            opacity: 0
            transform: translateY(100px)
            line-height: 35px
            padding: 0 10%

            p

                &:nth-child(1)
                    text-align: center
                    margin-bottom: 30px
                    font-size: 40px
                    font-weight: bold

                &:nth-child(3)
                    text-align: center
                    margin-bottom: 30px
                    position: relative
                    font-size: 35px
                    font-weight: bold

                    &:after
                        content: '\f103'
                        font-family: "FontAwesome"
                        color: #ffffff
                        position: absolute
                        left: 50%
                        transform: translateX(-50%)
                        bottom: -60px
                        font-size: 50px
                        font-weight: normal




        .obo-mne-show
            opacity: 1
            transform: translateY(0px)

 
.achive
    background: url("../img/achive-fon.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative



    // .vspishka
    //     position: absolute
    //     top: 0
    //     left: 0
    //     width: 100%
    //     height: 0vh
    //     background: #ffffff
    //     opacity: 0

    // .vspishka-show
    //     animation: vspishka 0.2s ease 0s 
    //     @keyframes vspishka
    //         0% 
    //             opacity: 0
    //             height: 0%
    //         1%
    //             opacity: 0
    //             height: 100%
    //         50%
    //             opacity: 0.8
    //             height: 100%
    //         99%
    //             opacity: 0  
    //             height: 100%
    //         100%
    //             opacity: 0  
    //             height: 0%

    .container
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: flex-start

        // .img-block-2
        //     width: 700px
        //     margin: 0 auto
        //     z-index: 1
        //     opacity: 0
        //     transition: all 3s ease

        //     img
        //         width: 100%
        //         height: 100%
        //         object-fit: cover

        // .img-block-2-show
        //     opacity: 1

        .circles
            display: flex
            flex-flow: row nowrap
            justify-content: space-between
            align-items: flex-start
            width: 100%
            margin-bottom: 50px
        
            .circle-block
                position: relative
                opacity: 0
                transition: $transition
                
                .circle
                    transform: rotate(-90deg) 

                .circle-numbers
                    position: absolute
                    top: 10%
                    left: 50%
                    transform: translateX(-50%)
                    color: #ffffff
                    font-family: 'Ubuntu', sans-serif
                    font-size: 50px
                    z-index: 1

                .about-numbers
                    position: absolute
                    top: 45%
                    left: 50%
                    transform: translateX(-50%)
                    color: #ffffff
                    font-family: 'Ubuntu', sans-serif
                    font-size: 22px
                    z-index: 1
                    text-align: center
                    line-height: 30px

            .circle-block-show
                opacity: 1



.gallery
    background: url("../img/gallery-fon.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative

    .container
        
        display: flex
        flex-flow: column nowrap
        justify-content: flex-start
        align-items: center

        .scroll-block
            height: 600px
            overflow: scroll
            transform: translateX(250px)
            opacity: 0
            transition: $transition

            .gallery-itself
                display: flex
                flex-flow: row wrap
                align-items: center
                justify-content: center
                z-index: 1
                
                
                .img-block
                    width: 300px
                    height: 200px

                    img
                        width: 100%
                        height: 100%
                        object-fit: cover

        .scroll-block-show
            transform: translateX(0px)
            opacity: 1


.otzivi
    background: url("../img/otzivi-fon.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative 

    .container
        display: flex
        flex-flow: column nowrap
        justify-content: flex-start
        align-items: center
        position: relative

        .btn-otzivi
            position: absolute
            top: 90px
            left: 50px
            color: #ffffff
            font-family: 'Ubuntu', sans-serif
            font-size: 22px
            z-index: 1
            padding: 15px 20px
            line-height: 30px
            transition: $transition
            border-radius: 5px
            border: 2px solid #fff
            cursor: pointer
            opacity: 0
            transform: translateX(-200px)

            &:hover
                background: #fff
                color: #333

        .btn-otzivi-show
            opacity: 1
            transform: translateX(0px)

       
        .otzivi-block
            width: inherit
            opacity: 0
            transition: $transition

            
            .otziv-itself
                display: flex
                flex-flow: row nowrap
                justify-content: flex-start
                align-items: flex-start
                z-index: 1
                border-radius: 5px
                background: #ffffff
                margin:  50px
                margin-bottom: 50px
                

                .left-side
                    position: relative
                    z-index: 1

                    .img-otziv
                        width: 200px
                        height: 200px
                        border-radius: 50%
                        overflow: hidden
                        position: absolute
                        top: -30px
                        left: -30px
                        z-index: 2
                        
                        img
                            width: 100%
                            height: 100%
                            object-fit: cover
                                

                    .name-otziv
                        color: #333
                        font-family: 'Ubuntu', sans-serif
                        font-size: 25px
                        line-height: 35px
                        margin-bottom: 30px
                        position: relative
                        white-space: nowrap
                        text-align: right
                        margin-top: 120px
                        margin-right: 50px

                    .link-otziv
                        width: 320px
                        height: 50px
                        background-color: $vk
                        padding: 5px 15px
                        margin-right: 50px
                        border-radius: 0 5px 5px 0

                        a
                            display: flex
                            flex-flow: row nowrap
                            justify-content: space-between
                            color: #ffffff
                            text-decoration: none
                            align-items: center
                            height: 100%

                            span
                                display: block
                                font-family: 'Ubuntu', sans-serif
                                font-size: 25px
                                line-height: 35px

                            .fa-vk
                               font-size: 30px

                .right-side
                    padding: 30px 0

                    .text-otziv
                        height: 500px
                        overflow: scroll
                        

                        p
                            color: #333
                            font-family: 'Ubuntu', sans-serif
                            font-size: 20px
                            line-height: 35px

                        .jspDrag
                            background: #333

            .slick-prev
                position: absolute
                top: 50%
                left: 10px
                background: transparent
                border: none
                

                &:before
                    content: '\f053'
                    font-family: "FontAwesome"
                    color: #ffffff
                    position: absolute
                    top: -20px
                    left: -10px
                    font-size: 50px
                    opacity: 0.7
                    cursor: pointer
                    z-index: 1

            .slick-next
                position: absolute
                top: 50%
                right: 10px
                background: transparent
                border: none


                &:before
                    content: '\f054'
                    font-family: "FontAwesome"
                    color: #ffffff
                    position: absolute
                    top: -20px
                    left: -10px
                    font-size: 50px
                    opacity: 0.7
                    cursor: pointer
                    z-index: 1

        .otzivi-block-show  
            opacity: 1              
                        


.price
    background: url("../img/price-fon.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative 

    .container
        display: flex
        flex-flow: column nowrap
        justify-content: flex-start
        align-items: center

        .price-block
            display: flex
            flex-flow: row nowrap
            justify-content: space-between
            align-content: flex-start
            transition: $transition

            .price-item
                width: 300px
                transition: $transition
                border-radius: 5px
                background: rgb(255,255,255)
                display: flex
                flex-flow: column nowrap
                justify-content: flex-start
                align-items: center
                opacity: 0.4
                z-index: 1
                position: relative
                cursor: pointer
                margin-right: 2px

                .line
                    position: relative
                    width: 100%

                    &:after
                        content: ''
                        position: absolute
                        bottom: 0px
                        left: 50%
                        transform: translateX(-50%)
                        width: 70%
                        height: 1px
                        background: #333

                .price-name
                    color: #333
                    font-family: 'Ubuntu', sans-serif
                    font-size: 30px
                    line-height: 35px
                    text-align: center
                    text-transform: uppercase
                    font-weight: bold
                    padding: 20px

                .price-time
                    @extend %packet

                .price-place
                    @extend %packet

                .price-photo
                    @extend %packet
                
                .price-work
                    @extend %packet

                .price-days
                    @extend %packet

                .price-tag
                    @extend %packet
                    font-size: 30px
                    padding-top: 40px
                    position: relative

                    .fa-ruble
                        color: #333
                        font-size: 30px


                .price-tag-under
                    @extend %packet
                    font-size: 20px
                    padding: 0
                    margin: 0
                    position: absolute
                    top: 5px
                    left: 50%
                    width: 60%
                    transform: translateX(-50%)
                        
                    .fa-ruble
                        color: #333
                        font-size: 20px

                .line-cross
                    content: ''
                    position: absolute
                    top: 20px
                    left: 50%
                    width: 60%
                    height: 1px
                    background: #333
                    transform: translateX(-50%) rotate(-10deg)
                    

            .active_price
                transform: scale(1.1)
                opacity: 1



.contacts
    background: url("../img/contacts-fon.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative 

    .container
        display: flex
        flex-flow: column nowrap
        justify-content: flex-start
        align-items: center

        .contact-block
            display: flex
            flex-flow: column nowrap
            justify-content: flex-start
            align-items: flex-start
            width: 400px
            margin: 0 auto


            .contact-link
                display: block
                color: #fff
                font-family: 'Ubuntu', sans-serif
                font-size: 35px
                line-height: 35px 
                margin: 20px 0
                cursor: pointer
                text-decoration: none
                z-index: 1
                opacity: 0
                transform: translateX(-200px)

                i
                    margin-right: 30px

                &:nth-child(1)
                    transition: $transition 0.2s
                    

                &:nth-child(2)
                    transition: $transition 0.4s
                    
                &:nth-child(3)
                    transition: $transition 0.6s

                &:nth-child(4)
                    transition: $transition 0.8s
                    
                &:nth-child(5)
                    transition: $transition 1s


        .contact-block-show

            .contact-link
                opacity: 1
                transform: translateX(0px)


.preloader
    display: flex
    position: fixed
    width: 100%
    height: 100vh
    background: rgb(0,0,0)
    top: 0
    left: 0
    flex-flow: column
    justify-content: center
    align-items: center  
    z-index: 2
    transition: $transition
    overflow: hidden

    .preloader-block
        width: 70px
        height: 70px

.modal-form
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 3
    opacity: 0
    visibility: hidden
    transition: $transition

    .shadow-back
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0,0,0,0.7)

    .modal-form-itself
        width: 600px
        height: auto
        min-height: 60px
        border-radius: 5px
        background: #ffffff
        padding: 30px
        padding-top: 40px
        position: absolute
        top: 12%
        left: 50%
        transform: translateX(-50%)
        z-index: 4

        @media screen and (max-width: 430px)
            width: 90vw

        @media screen and (max-width: 380px)
            width: 96vw

        .close-btn
            position: absolute
            top: 5px
            right: 5px
            width: 20px
            height: 20px;
            border-radius: 50px
            border: 3px solid $vk
            padding: 5px 0 3px 9px
            cursor: pointer

        form
            display: flex
            flex-flow: row nowrap
            align-items: center
            flex-flow: column nowrap
            justify-content: flex-start
            position: relative
            transition: $transition
            height: auto
            border: 1px solid $vk
            position: relative
            padding: 10px
            padding-top: 40px

            @media screen and (max-width: 380px)
                max-height: 77vh

            .zagolovok-form
                font-family: 'Montserrat', sans-serif
                font-weight: bold
                font-size: 20px
                line-height: 120%
                text-align: center
                color: #000000
                background-color: #ffffff
                width: 60%
                position: absolute
                top: -35px
                left: 50%
                transform: translateX(-50%)

                @media screen and (max-width: 430px)
                    font-size: 18px

                @media screen and (max-width: 380px)
                    font-size: 14px

            .form-item
                margin: 10px 0

            input
                font-family: 'Ubuntu', sans-serif
                font-size: 18px
                line-height: 180%
                color: #333333
                padding: 5px
                width: 300px
                border: 1px solid darkgray

                @media screen and (max-width: 330px)
                    width: 260px

            textarea
                border-radius: 5px
                border: 1px solid rgb(169, 169, 169)
                width: 300px
                font-family: 'Ubuntu', sans-serif
                font-size: 18px
                line-height: 180%
                color: #333333
                padding: 5px
                height: 150px
                overflow: scroll

                @media screen and (max-width: 430px)
                    height: 120px

                @media screen and (max-width: 330px)
                    width: 260px


            .button-send-modal
                display: flex
                flex-flow: column 
                justify-content: center
                align-items: center
                width: 240px
                height: 60px
                color: #ffffff
                border-radius: 5px
                font-family: 'Ubuntu', sans-serif
                font-weight: bold
                font-size: 20px
                line-height: 120%
                background: $vk
                border: 2px solid $vk
                margin:  0 auto 
                box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25)
                cursor: pointer
                transition: $transition

                &:hover
                    background: #ffffff
                    border: 2px solid $vk
                    color: #333

                @media screen and (max-width: 330px)
                    min-height: 50px
            

            .modal-file
                position: relative
                width: 305px

                @media screen and (max-width: 330px)
                    width: 270px

                label
                    position: absolute
                    top: 2%
                    right: 0
                    width: 195px
                    height: 96%
                    background: #ffffff
                    font-family: 'Ubuntu', sans-serif
                    font-size: 18px
                    line-height: 180%
                    color: #333333  
                    display: flex
                    align-items: center
                    justify-content: center

                    @media screen and (max-width: 330px)
                        width: 160px
                        font-size: 15px
 

                    &:after 
                        text-align: center
                        content: "Выберите файл"
                        top: 0
                        left: -115px
                        width: 115px
                        height: 100%
                        color: white 
                        display: flex
                        align-items: center
                        justify-content: center
                        background-color: $vk
                        cursor: pointer
                        visibility: visible
                        position: absolute
                        font-family: 'Ubuntu', sans-serif
                        font-size: 14px
                        line-height: 180%
                        border-radius: 5px


                        @media screen and (max-width: 330px)
                            font-size: 12px

            .accept-block
                margin-top: 10px

                input[type=checkbox] 
                    display: none
                    width: 10px

                    &:checked + label

                        &:before
                            border-right: none
                            border-top: none
                            transform: rotate(-50deg)
                            top: 2px
                            left: 2px
                            height: 5px

                input[type=checkbox] + label
                    font-family: 'Ubuntu', sans-serif
                    font-size: 14px
                    line-height: 140%
                    color: #333333
                    padding-left: 30px
                    position: relative

                    @media screen and (max-width: 330px)
                        font-size: 13px

                    &:before
                        content: ''
                        position: absolute
                        top: 0
                        left: 0
                        width: 10px;
                        height: 10px;
                        border: 2px solid #333333
                        transition: $transition

            .description-accept
                font-family: 'Ubuntu', sans-serif
                font-size: 15px
                line-height: 180%
                margin: 30px 0
                text-align: center
                transition: $transition
                opacity: 1
                width: 100%
                height: 30px


            .hide 
                opacity: 0
                height: 0px

        @media screen and (max-width: 1000px)
            top: 7%

        .description
                font-family: 'Ubuntu', sans-serif
                font-size: 25px
                text-align: center
                line-height: 180%
                color: #333333
                transition: $transition
                margin: 50px auto

        .hide 
                opacity: 0
                visibility: hidden
                margin: 0
                height: 0 !important
                padding: 0

.main-menu
    position: fixed
    z-index: 1
    top: 0
    left: 50%
    transform: translateX(-50%)
    background: rgba(255,255,255,0.2)
    padding: 5px
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    transition: $transition
    opacity: 0

    #menu
        display: flex
        flex-flow: row nowrap
        justify-content: center
        align-items: center
        transition: $transition

        .menu-link
            border-right: 2px solid #fff
            position: relative
            transition: $transition

            a
                display: block
                background: transparent
                cursor: pointer
                outline: none
                transition: $transition
                color: #fff
                font-family: 'Ubuntu', sans-serif
                font-size: 18px
                line-height: 30px
                text-decoration: none
                padding: 0 10px
                white-space: nowrap
                
                
            &:after
                content: ''
                width: 0%
                height: 2px
                background: #fff
                position: absolute
                bottom: 0
                left: 0
                transition: $transition

            &:hover

                &:after
                    width: 100%

            &:last-child 
                border-right: none
                margin-right: 5px

            &:first-child

                &:after
                    left: auto
                    right: 0

    &:before
        content: ''
        position: absolute
        top: 0
        left: -44px
        border: 22px solid transparent
        border-top: 22px solid rgba(255,255,255,0.2)
        border-right: 22px solid rgba(255,255,255,0.2)

    &:after
        content: ''
        position: absolute
        top: 0
        right: -43px
        border: 22px solid transparent
        border-left: 22px solid rgba(255,255,255,0.2)
        border-top: 22px solid rgba(255,255,255,0.2)
            
    .menu-contacts
        display: block
        margin-left: 10px
        border-radius: 50%
        border: 2px solid #ffffff
        padding: 5px

        .fa
            font-size: 15px
            color: #fff
        

           