
body
    padding: 0
    margin: 0





.zaglushka
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.7)
    z-index: 0

$transition: all 0.5s ease

.zagolovok
    font-size: 70px
    text-align: right
    opacity: 0
    transition: $transition
    color: #ffffff
    transform: translateX(0)
    font-family: 'Lobster', cursive

.zagolovok-show
    opacity: 1
    transform: translateX(280px)

.container
    width: 1140px
    margin: 0 auto
    
    

.about
    background: url("../img/about-fon.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative

    .container
        
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: center

        .zagolovok
            margin: 50px 0

        .img-logo
            width: 300px
            height: 300px
            z-index: 1
            border-radius: 50%
            overflow: hidden
            transition: $transition 0.3s
            opacity: 0
            transform: translateY(100px)


            img
                width: 100%
                height: 100%
                object-fit: cover

        .img-logo-show
            opacity: 1
            transform: translateY(0px)

        .obo-mne
            font-family: 'Ubuntu', sans-serif
            font-size: 25px
            color: #ffffff
            z-index: 1
            transition: $transition 0.6s
            opacity: 0
            transform: translateY(100px)
            line-height: 35px
            padding: 0 10%

            p

                &:nth-child(1)
                    text-align: center
                    margin-bottom: 30px
                    font-size: 40px
                    font-weight: bold

                &:nth-child(3)
                    text-align: center
                    margin-bottom: 30px
                    position: relative
                    font-size: 35px
                    font-weight: bold

                    &:after
                        content: '\f103'
                        font-family: "FontAwesome"
                        color: #ffffff
                        position: absolute
                        left: 50%
                        transform: translateX(-50%)
                        bottom: -60px
                        font-size: 50px
                        font-weight: normal




        .obo-mne-show
            opacity: 1
            transform: translateY(0px)

 
.achive
    background: url("../img/achive-fon.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative

    .vspishka
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 0vh
        background: #ffffff
        opacity: 0

    .vspishka-show
        animation: vspishka 0.2s ease 0s 
        @keyframes vspishka
            0% 
                opacity: 0
                height: 0%
            1%
                opacity: 0
                height: 100%
            50%
                opacity: 0.8
                height: 100%
            99%
                opacity: 0  
                height: 100%
            100%
                opacity: 0  
                height: 0%

    .container
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: flex-start

        .img-block-2
            width: 700px
            margin: 0 auto
            z-index: 1
            opacity: 0
            transition: all 3s ease

            img
                width: 100%
                height: 100%
                object-fit: cover

        .img-block-2-show
            opacity: 1

        .circles
            display: flex
            flex-flow: row nowrap
            justify-content: space-between
            align-items: flex-start
            width: 100%
            margin-bottom: 50px
        
            .circle-block
                position: relative
                opacity: 0
                transition: $transition
                
                .circle
                    transform: rotate(-90deg) 

                .circle-numbers
                    position: absolute
                    top: 10%
                    left: 50%
                    transform: translateX(-50%)
                    color: #ffffff
                    font-family: 'Ubuntu', sans-serif
                    font-size: 50px
                    z-index: 1

                .about-numbers
                    position: absolute
                    top: 45%
                    left: 50%
                    transform: translateX(-50%)
                    color: #ffffff
                    font-family: 'Ubuntu', sans-serif
                    font-size: 22px
                    z-index: 1
                    text-align: center
                    line-height: 30px

            .circle-block-show
                opacity: 1



.gallery
    background: url("../img/gallery-fon.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative

    .container
        
        display: flex
        flex-flow: column nowrap
        justify-content: flex-start
        align-items: center


        .gallery-itself
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: center
            z-index: 1
            
            .img-block
                width: 300px
                height: 200px

                img
                    width: 100%
                    height: 100%
                    object-fit: cover

              
                


.contacts
    background-color: black