@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
}

.zaglushka {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.price .container .price-block .price-item .price-time, .price .container .price-block .price-item .price-place, .price .container .price-block .price-item .price-photo, .price .container .price-block .price-item .price-work, .price .container .price-block .price-item .price-days, .price .container .price-block .price-item .price-tag, .price .container .price-block .price-item .price-tag-under {
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  padding: 20px;
}

.zagolovok {
  font-size: 70px;
  text-align: right;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #ffffff;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  font-family: 'Lobster', cursive;
}

.zagolovok-show {
  opacity: 1;
  -webkit-transform: translateX(280px);
          transform: translateX(280px);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.about {
  background: url("../img/about-fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container .zagolovok {
  margin: 50px 0;
}

.about .container .img-logo {
  width: 300px;
  height: 300px;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.about .container .img-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .container .img-logo-show {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.about .container .obo-mne {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.5s ease 0.6s;
  transition: all 0.5s ease 0.6s;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  line-height: 35px;
  padding: 0 10%;
}

.about .container .obo-mne p:nth-child(1) {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}

.about .container .obo-mne p:nth-child(3) {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  font-size: 35px;
  font-weight: bold;
}

.about .container .obo-mne p:nth-child(3):after {
  content: '\f103';
  font-family: "FontAwesome";
  color: #ffffff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -60px;
  font-size: 50px;
  font-weight: normal;
}

.about .container .obo-mne-show {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.achive {
  background: url("../img/achive-fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.achive .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.achive .container .circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 50px;
}

.achive .container .circles .circle-block {
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.achive .container .circles .circle-block .circle {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.achive .container .circles .circle-block .circle-numbers {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  z-index: 1;
}

.achive .container .circles .circle-block .about-numbers {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  z-index: 1;
  text-align: center;
  line-height: 30px;
}

.achive .container .circles .circle-block-show {
  opacity: 1;
}

.gallery {
  background: url("../img/gallery-fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.gallery .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .container .scroll-block {
  height: 600px;
  overflow: scroll;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery .container .scroll-block .gallery-itself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.gallery .container .scroll-block .gallery-itself .img-block {
  width: 300px;
  height: 200px;
}

.gallery .container .scroll-block .gallery-itself .img-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .container .scroll-block-show {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.otzivi {
  background: url("../img/otzivi-fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.otzivi .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.otzivi .container .btn-otzivi {
  position: absolute;
  top: 90px;
  left: 50px;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  z-index: 1;
  padding: 15px 20px;
  line-height: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 5px;
  border: 2px solid #fff;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.otzivi .container .btn-otzivi:hover {
  background: #fff;
  color: #333;
}

.otzivi .container .btn-otzivi-show {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.otzivi .container .otzivi-block {
  width: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.otzivi .container .otzivi-block .otziv-itself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
  border-radius: 5px;
  background: #ffffff;
  margin: 50px;
  margin-bottom: 50px;
}

.otzivi .container .otzivi-block .otziv-itself .left-side {
  position: relative;
  z-index: 1;
}

.otzivi .container .otzivi-block .otziv-itself .left-side .img-otziv {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: 2;
}

.otzivi .container .otzivi-block .otziv-itself .left-side .img-otziv img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.otzivi .container .otzivi-block .otziv-itself .left-side .name-otziv {
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
  position: relative;
  white-space: nowrap;
  text-align: right;
  margin-top: 120px;
  margin-right: 50px;
}

.otzivi .container .otzivi-block .otziv-itself .left-side .link-otziv {
  width: 320px;
  height: 50px;
  background-color: #4d7198;
  padding: 5px 15px;
  margin-right: 50px;
  border-radius: 0 5px 5px 0;
}

.otzivi .container .otzivi-block .otziv-itself .left-side .link-otziv a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.otzivi .container .otzivi-block .otziv-itself .left-side .link-otziv a span {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  line-height: 35px;
}

.otzivi .container .otzivi-block .otziv-itself .left-side .link-otziv a .fa-vk {
  font-size: 30px;
}

.otzivi .container .otzivi-block .otziv-itself .right-side {
  padding: 30px 0;
}

.otzivi .container .otzivi-block .otziv-itself .right-side .text-otziv {
  height: 500px;
  overflow: scroll;
}

.otzivi .container .otzivi-block .otziv-itself .right-side .text-otziv p {
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  line-height: 35px;
}

.otzivi .container .otzivi-block .otziv-itself .right-side .text-otziv .jspDrag {
  background: #333;
}

.otzivi .container .otzivi-block .slick-prev {
  position: absolute;
  top: 50%;
  left: 10px;
  background: transparent;
  border: none;
}

.otzivi .container .otzivi-block .slick-prev:before {
  content: '\f053';
  font-family: "FontAwesome";
  color: #ffffff;
  position: absolute;
  top: -20px;
  left: -10px;
  font-size: 50px;
  opacity: 0.7;
  cursor: pointer;
  z-index: 1;
}

.otzivi .container .otzivi-block .slick-next {
  position: absolute;
  top: 50%;
  right: 10px;
  background: transparent;
  border: none;
}

.otzivi .container .otzivi-block .slick-next:before {
  content: '\f054';
  font-family: "FontAwesome";
  color: #ffffff;
  position: absolute;
  top: -20px;
  left: -10px;
  font-size: 50px;
  opacity: 0.7;
  cursor: pointer;
  z-index: 1;
}

.otzivi .container .otzivi-block-show {
  opacity: 1;
}

.price {
  background: url("../img/price-fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.price .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price .container .price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.price .container .price-block .price-item {
  width: 300px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 5px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.4;
  z-index: 1;
  position: relative;
  cursor: pointer;
  margin-right: 2px;
}

.price .container .price-block .price-item .line {
  position: relative;
  width: 100%;
}

.price .container .price-block .price-item .line:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  height: 1px;
  background: #333;
}

.price .container .price-block .price-item .price-name {
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
}

.price .container .price-block .price-item .price-tag {
  font-size: 30px;
  padding-top: 40px;
  position: relative;
}

.price .container .price-block .price-item .price-tag .fa-ruble {
  color: #333;
  font-size: 30px;
}

.price .container .price-block .price-item .price-tag-under {
  font-size: 20px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 5px;
  left: 50%;
  width: 60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.price .container .price-block .price-item .price-tag-under .fa-ruble {
  color: #333;
  font-size: 20px;
}

.price .container .price-block .price-item .line-cross {
  content: '';
  position: absolute;
  top: 20px;
  left: 50%;
  width: 60%;
  height: 1px;
  background: #333;
  -webkit-transform: translateX(-50%) rotate(-10deg);
          transform: translateX(-50%) rotate(-10deg);
}

.price .container .price-block .active_price {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.contacts {
  background: url("../img/contacts-fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .container .contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 400px;
  margin: 0 auto;
}

.contacts .container .contact-block .contact-link {
  display: block;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  line-height: 35px;
  margin: 20px 0;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.contacts .container .contact-block .contact-link i {
  margin-right: 30px;
}

.contacts .container .contact-block .contact-link:nth-child(1) {
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}

.contacts .container .contact-block .contact-link:nth-child(2) {
  -webkit-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
}

.contacts .container .contact-block .contact-link:nth-child(3) {
  -webkit-transition: all 0.5s ease 0.6s;
  transition: all 0.5s ease 0.6s;
}

.contacts .container .contact-block .contact-link:nth-child(4) {
  -webkit-transition: all 0.5s ease 0.8s;
  transition: all 0.5s ease 0.8s;
}

.contacts .container .contact-block .contact-link:nth-child(5) {
  -webkit-transition: all 0.5s ease 1s;
  transition: all 0.5s ease 1s;
}

.contacts .container .contact-block-show .contact-link {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: black;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

.preloader .preloader-block {
  width: 70px;
  height: 70px;
}

.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal-form .shadow-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-form .modal-form-itself {
  width: 600px;
  height: auto;
  min-height: 60px;
  border-radius: 5px;
  background: #ffffff;
  padding: 30px;
  padding-top: 40px;
  position: absolute;
  top: 12%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 4;
}

@media screen and (max-width: 430px) {
  .modal-form .modal-form-itself {
    width: 90vw;
  }
}

@media screen and (max-width: 380px) {
  .modal-form .modal-form-itself {
    width: 96vw;
  }
}

.modal-form .modal-form-itself .close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 3px solid #4d7198;
  padding: 5px 0 3px 9px;
  cursor: pointer;
}

.modal-form .modal-form-itself form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: auto;
  border: 1px solid #4d7198;
  position: relative;
  padding: 10px;
  padding-top: 40px;
}

@media screen and (max-width: 380px) {
  .modal-form .modal-form-itself form {
    max-height: 77vh;
  }
}

.modal-form .modal-form-itself form .zagolovok-form {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  width: 60%;
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 430px) {
  .modal-form .modal-form-itself form .zagolovok-form {
    font-size: 18px;
  }
}

@media screen and (max-width: 380px) {
  .modal-form .modal-form-itself form .zagolovok-form {
    font-size: 14px;
  }
}

.modal-form .modal-form-itself form .form-item {
  margin: 10px 0;
}

.modal-form .modal-form-itself form input {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
  padding: 5px;
  width: 300px;
  border: 1px solid darkgray;
}

@media screen and (max-width: 330px) {
  .modal-form .modal-form-itself form input {
    width: 260px;
  }
}

.modal-form .modal-form-itself form textarea {
  border-radius: 5px;
  border: 1px solid darkgray;
  width: 300px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
  padding: 5px;
  height: 150px;
  overflow: scroll;
}

@media screen and (max-width: 430px) {
  .modal-form .modal-form-itself form textarea {
    height: 120px;
  }
}

@media screen and (max-width: 330px) {
  .modal-form .modal-form-itself form textarea {
    width: 260px;
  }
}

.modal-form .modal-form-itself form .button-send-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  height: 60px;
  color: #ffffff;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  background: #4d7198;
  border: 2px solid #4d7198;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal-form .modal-form-itself form .button-send-modal:hover {
  background: #ffffff;
  border: 2px solid #4d7198;
  color: #333;
}

@media screen and (max-width: 330px) {
  .modal-form .modal-form-itself form .button-send-modal {
    min-height: 50px;
  }
}

.modal-form .modal-form-itself form .modal-file {
  position: relative;
  width: 305px;
}

@media screen and (max-width: 330px) {
  .modal-form .modal-form-itself form .modal-file {
    width: 270px;
  }
}

.modal-form .modal-form-itself form .modal-file label {
  position: absolute;
  top: 2%;
  right: 0;
  width: 195px;
  height: 96%;
  background: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 330px) {
  .modal-form .modal-form-itself form .modal-file label {
    width: 160px;
    font-size: 15px;
  }
}

.modal-form .modal-form-itself form .modal-file label:after {
  text-align: center;
  content: "Выберите файл";
  top: 0;
  left: -115px;
  width: 115px;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4d7198;
  cursor: pointer;
  visibility: visible;
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 180%;
  border-radius: 5px;
}

@media screen and (max-width: 330px) {
  .modal-form .modal-form-itself form .modal-file label:after {
    font-size: 12px;
  }
}

.modal-form .modal-form-itself form .accept-block {
  margin-top: 10px;
}

.modal-form .modal-form-itself form .accept-block input[type=checkbox] {
  display: none;
  width: 10px;
}

.modal-form .modal-form-itself form .accept-block input[type=checkbox]:checked + label:before {
  border-right: none;
  border-top: none;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  top: 2px;
  left: 2px;
  height: 5px;
}

.modal-form .modal-form-itself form .accept-block input[type=checkbox] + label {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  padding-left: 30px;
  position: relative;
}

@media screen and (max-width: 330px) {
  .modal-form .modal-form-itself form .accept-block input[type=checkbox] + label {
    font-size: 13px;
  }
}

.modal-form .modal-form-itself form .accept-block input[type=checkbox] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #333333;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal-form .modal-form-itself form .description-accept {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  line-height: 180%;
  margin: 30px 0;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  width: 100%;
  height: 30px;
}

.modal-form .modal-form-itself form .hide {
  opacity: 0;
  height: 0px;
}

@media screen and (max-width: 1000px) {
  .modal-form .modal-form-itself {
    top: 7%;
  }
}

.modal-form .modal-form-itself .description {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 180%;
  color: #333333;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 50px auto;
}

.modal-form .modal-form-itself .hide {
  opacity: 0;
  visibility: hidden;
  margin: 0;
  height: 0 !important;
  padding: 0;
}

.main-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

.main-menu #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-menu #menu .menu-link {
  border-right: 2px solid #fff;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-menu #menu .menu-link a {
  display: block;
  background: transparent;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  padding: 0 10px;
  white-space: nowrap;
}

.main-menu #menu .menu-link:after {
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-menu #menu .menu-link:hover:after {
  width: 100%;
}

.main-menu #menu .menu-link:last-child {
  border-right: none;
  margin-right: 5px;
}

.main-menu #menu .menu-link:first-child:after {
  left: auto;
  right: 0;
}

.main-menu:before {
  content: '';
  position: absolute;
  top: 0;
  left: -44px;
  border: 22px solid transparent;
  border-top: 22px solid rgba(255, 255, 255, 0.2);
  border-right: 22px solid rgba(255, 255, 255, 0.2);
}

.main-menu:after {
  content: '';
  position: absolute;
  top: 0;
  right: -43px;
  border: 22px solid transparent;
  border-left: 22px solid rgba(255, 255, 255, 0.2);
  border-top: 22px solid rgba(255, 255, 255, 0.2);
}

.main-menu .menu-contacts {
  display: block;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  padding: 5px;
}

.main-menu .menu-contacts .fa {
  font-size: 15px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */