body {
  padding: 0;
  margin: 0;
}

.zaglushka {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.price .container .price-block .price-item .price-time, .price .container .price-block .price-item .price-place, .price .container .price-block .price-item .price-photo, .price .container .price-block .price-item .price-work, .price .container .price-block .price-item .price-days, .price .container .price-block .price-item .price-tag, .price .container .price-block .price-item .price-tag-under {
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  padding: 20px;
}

.zagolovok {
  font-size: 70px;
  text-align: right;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #ffffff;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  font-family: 'Lobster', cursive;
}

.zagolovok-show {
  opacity: 1;
  -webkit-transform: translateX(280px);
          transform: translateX(280px);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.about {
  background: url("../img/about-fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container .zagolovok {
  margin: 50px 0;
}

.about .container .img-logo {
  width: 300px;
  height: 300px;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.about .container .img-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .container .img-logo-show {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.about .container .obo-mne {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.5s ease 0.6s;
  transition: all 0.5s ease 0.6s;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  line-height: 35px;
  padding: 0 10%;
}

.about .container .obo-mne p:nth-child(1) {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}

.about .container .obo-mne p:nth-child(3) {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  font-size: 35px;
  font-weight: bold;
}

.about .container .obo-mne p:nth-child(3):after {
  content: '\f103';
  font-family: "FontAwesome";
  color: #ffffff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -60px;
  font-size: 50px;
  font-weight: normal;
}

.about .container .obo-mne-show {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.achive {
  background: url("../img/achive-fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.achive .vspishka {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0vh;
  background: #ffffff;
  opacity: 0;
}

.achive .vspishka-show {
  -webkit-animation: vspishka 0.2s ease 0s;
          animation: vspishka 0.2s ease 0s;
}

@-webkit-keyframes vspishka {
  0% {
    opacity: 0;
    height: 0%;
  }
  1% {
    opacity: 0;
    height: 100%;
  }
  50% {
    opacity: 0.8;
    height: 100%;
  }
  99% {
    opacity: 0;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0%;
  }
}

@keyframes vspishka {
  0% {
    opacity: 0;
    height: 0%;
  }
  1% {
    opacity: 0;
    height: 100%;
  }
  50% {
    opacity: 0.8;
    height: 100%;
  }
  99% {
    opacity: 0;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0%;
  }
}

.achive .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.achive .container .img-block-2 {
  width: 700px;
  margin: 0 auto;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

.achive .container .img-block-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.achive .container .img-block-2-show {
  opacity: 1;
}

.achive .container .circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 50px;
}

.achive .container .circles .circle-block {
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.achive .container .circles .circle-block .circle {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.achive .container .circles .circle-block .circle-numbers {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  z-index: 1;
}

.achive .container .circles .circle-block .about-numbers {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  z-index: 1;
  text-align: center;
  line-height: 30px;
}

.achive .container .circles .circle-block-show {
  opacity: 1;
}

.gallery {
  background: url("../img/gallery-fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.gallery .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .container .scroll-block {
  height: 600px;
  overflow: scroll;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery .container .scroll-block .gallery-itself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.gallery .container .scroll-block .gallery-itself .img-block {
  width: 300px;
  height: 200px;
}

.gallery .container .scroll-block .gallery-itself .img-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .container .scroll-block-show {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.otzivi {
  background: url("../img/otzivi-fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.otzivi .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.otzivi .container .otzivi-block {
  width: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.otzivi .container .otzivi-block .otziv-itself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
  border-radius: 5px;
  background: #ffffff;
  margin: 50px;
  margin-bottom: 50px;
}

.otzivi .container .otzivi-block .otziv-itself .left-side {
  position: relative;
  z-index: 1;
}

.otzivi .container .otzivi-block .otziv-itself .left-side .img-otziv {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: 2;
}

.otzivi .container .otzivi-block .otziv-itself .left-side .img-otziv img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.otzivi .container .otzivi-block .otziv-itself .left-side .name-otziv {
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
  position: relative;
  white-space: nowrap;
  text-align: right;
  margin-top: 120px;
  margin-right: 50px;
}

.otzivi .container .otzivi-block .otziv-itself .left-side .link-otziv {
  width: 320px;
  height: 50px;
  background-color: #4d7198;
  padding: 5px 15px;
  margin-right: 50px;
  border-radius: 0 5px 5px 0;
}

.otzivi .container .otzivi-block .otziv-itself .left-side .link-otziv a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.otzivi .container .otzivi-block .otziv-itself .left-side .link-otziv a span {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  line-height: 35px;
}

.otzivi .container .otzivi-block .otziv-itself .left-side .link-otziv a .fa-vk {
  font-size: 30px;
}

.otzivi .container .otzivi-block .otziv-itself .right-side {
  padding: 30px 0;
}

.otzivi .container .otzivi-block .otziv-itself .right-side .text-otziv {
  height: 500px;
  overflow: scroll;
}

.otzivi .container .otzivi-block .otziv-itself .right-side .text-otziv p {
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  line-height: 35px;
}

.otzivi .container .otzivi-block .otziv-itself .right-side .text-otziv .jspDrag {
  background: #333;
}

.otzivi .container .otzivi-block .slick-prev {
  position: absolute;
  top: 50%;
  left: 10px;
  background: transparent;
  border: none;
}

.otzivi .container .otzivi-block .slick-prev:before {
  content: '\f053';
  font-family: "FontAwesome";
  color: #ffffff;
  position: absolute;
  top: -20px;
  left: -10px;
  font-size: 50px;
  opacity: 0.7;
  cursor: pointer;
  z-index: 1;
}

.otzivi .container .otzivi-block .slick-next {
  position: absolute;
  top: 50%;
  right: 10px;
  background: transparent;
  border: none;
}

.otzivi .container .otzivi-block .slick-next:before {
  content: '\f054';
  font-family: "FontAwesome";
  color: #ffffff;
  position: absolute;
  top: -20px;
  left: -10px;
  font-size: 50px;
  opacity: 0.7;
  cursor: pointer;
  z-index: 1;
}

.otzivi .container .otzivi-block-show {
  opacity: 1;
}

#menu {
  dipslay: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 30%;
  right: 50px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#menu .menu-link a {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  background: transparent;
  margin-bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.price {
  background: url("../img/price-fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.price .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price .container .price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.price .container .price-block .price-item {
  width: 300px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 5px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.4;
  z-index: 1;
  position: relative;
  cursor: pointer;
}

.price .container .price-block .price-item .line {
  position: relative;
  width: 100%;
}

.price .container .price-block .price-item .line:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  height: 1px;
  background: #333;
}

.price .container .price-block .price-item .price-name {
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
}

.price .container .price-block .price-item .price-tag {
  font-size: 30px;
  padding-top: 40px;
  position: relative;
}

.price .container .price-block .price-item .price-tag .fa-ruble {
  color: #333;
  font-size: 30px;
}

.price .container .price-block .price-item .price-tag-under {
  font-size: 20px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 5px;
  left: 50%;
  width: 60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.price .container .price-block .price-item .price-tag-under .fa-ruble {
  color: #333;
  font-size: 20px;
}

.price .container .price-block .price-item .line-cross {
  content: '';
  position: absolute;
  top: 20px;
  left: 50%;
  width: 60%;
  height: 1px;
  background: #333;
  -webkit-transform: translateX(-50%) rotate(-10deg);
          transform: translateX(-50%) rotate(-10deg);
}

.price .container .price-block .active-price {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.contacts {
  background-color: black;
}
/*# sourceMappingURL=style.css.map */