<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anton</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/fullPage.css">
    <link type="text/css" rel="stylesheet" href="css/lightgallery.css" /> 
    <link type="text/css" rel="stylesheet" href="css/jscrollpane.css" /> 
    <link type="text/css" rel="stylesheet" href="css/slick.css" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/easings.min.js"></script>
    <script src="js/scrolloverflow.min.js"></script>
    <script src="js/fullPage.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/lightgallery.min.js"></script>
    <script src="js/lg-thumbnail.min.js"></script>
    <script src="js/jscrollpane.js"></script>
    <script src="js/mousewheel.js"></script>
    <script src="js/slick.min.js"></script>
    <script assync src="js/jquery.maskedinput.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <artical class="main-menu">
        <div id="menu">
            <div class="menu-link" data-menuanchor="about"><a href="#about">Обо мне</a></div>
            <div class="menu-link" data-menuanchor="achive"><a href="#achive">Достижения</a></div>
            <div class="menu-link" data-menuanchor="gallery"><a href="#gallery">Галерея</a></div>
            <div class="menu-link" data-menuanchor="otzivi"><a href="#otzivi">Отзывы</a></div>
            <div class="menu-link" data-menuanchor="price"><a href="#price">Прайс-лист</a></div>
            <div class="menu-link" data-menuanchor="contacts"><a href="#contacts">Контакты</a></div>
        </div>
        <a href="tel:+79233453445" class="menu-contacts"><i class="fa  fa-fw fa-phone"></i></a>
        <a href="https://vk.ru/anton" class="menu-contacts"><i class="fa  fa-fw fa-vk"></i></a>
    </artical>
    <div id="fullpage">
        <section class="about section" data-anchor="about">
            <div class="zaglushka"></div>
            <div class="container">
                    <p class="zagolovok">Антон Селивёрстов</p>
                    <div class="img-logo">
                        <img src="img/about-logo.png">
                    </div>
                    <div class="obo-mne">
                        <p>Привет!</p>
                        <p>Я проффесиональный фотограф с собственным оборудованием. 
                        Для меня честь разделять с людьми их самые важные моменты в жизни, и я счастлив помогать сохранять память о них.</p>
                        <p>Давай знакомиться</p>
                    </div>
            </div>
        </section>
        <section class="achive section" data-anchor="achive">
                <div class="zaglushka"></div>
                <!-- <div class="vspishka"></div> -->
                <div class="container"> 
                        <div class="circles">
                            <div class="circle-block" v-for="circle in circles">
                                    <canvas class="circle" width="300" height="300" ></canvas>
                                    <p class="circle-numbers">{{circle.number}}</p>
                                    <p class="about-numbers">{{circle.text}}</p>
                            </div> 
                        </div>
                        <!-- <div class="img-block-2">
                            <img src="img/block-2-couple.png">
                        </div> -->
                </div>
        </section>
        <section class="gallery section" data-anchor="gallery">
                <div class="zaglushka"></div>
                <div class="container">
                        <p class="zagolovok">Портфолио</p>
                        <div class="scroll-block">
                            <div id="lightgallery" class="gallery-itself" >
                                <a :href="img.url" class="img-block" v-for="img in imgs">
                                    <img :src="img.url">
                                </a>
                            </div>
                        </div>
                </div>
        </section>

        <section class="otzivi section" data-anchor="otzivi">
            <div class="zaglushka"></div>
            <div class="container">
                    <p class="zagolovok">Отзывы</p>
                    <div class="otzivi-block">
                       <otziv-items v-for="item in otzivi" :otzivi="item"></otziv-items>
                    </div>
                    <div class="btn-otzivi">Оставить отзыв</div>
            </div>
        </section>

        <section class="price section" data-anchor="price">
            <div class="zaglushka"></div>
            <div class="container">
                    <p class="zagolovok">Пакеты услуг</p>
                    <div class="price-block">
                        <price-items v-for="item in price_list" :price="item"></price-items>
                    </div>
            </div>
        </section>

        <section class="contacts section" data-anchor="contacts">
            <div class="zaglushka"></div>
            <div class="container">
                    <p class="zagolovok">Контакты</p>
                    <div class="contact-block">
                        <a :href="contact.url" v-for="contact in contact" class="contact-link"><i class="fa  fa-fw" :class="contact.fa_class"></i>{{contact.link}}</a>
                    </div>
            </div>
        </section>
      </div>
      <artical class="preloader">
            <div class="preloader-block">
                   <img src="img/preloader.gif">
            </div>
      </artical>
      <article class="otzivi-form">
        <modal-form  :settings="settings"></modal-form>
      </article>
</body>
</html>